<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 
  
    <body style="background-color: beige">
      <form action="action_page.php">
        
      
        <div class="container">
          <label for="uname"><b>Username</b></label><br>
          <input type="text" placeholder="Enter Username" name="uname" required><br>
      
          <label for="npsw"><b>Password</b></label><br>
          <input type="password" placeholder="Enter Password" name="npsw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br>
         <!-- <label for="repsw"><b>ReEnter Password</b></label><br>
          <input type="password" placeholder="Enter Password" name="repsw"pattern="(npsw==repsw)" 
          title="Re-Enter password is  Same as Above" required><br>-->
          <label for="name"><b>Name</b></label><br>
          <input type="text" placeholder="Enter Name" name="name" required><br>
         <!--  <label for="fname"> <b>Gender</b> </label>

           
            <input type="radio" id="g" name="gender" value="male" checked>   Male
            <input type="radio" id="g" name="gender" value="female">   Female
            <input type="radio" id="g" name="gender" value="other"> Other
            <input type="radio" id="g" name="gender" value="not to reveal"> not to reveal<br><br>-->
          <label for="email"><b>Email</b></label><br>
          <input type="email" placeholder="john@example.com" name="email" required><br>
          <label for="phno"><b>Phone Number</b></label><br>
          <input type="tel" placeholder="Enter 10 digit Phone Number" name="phno" pattern=".{10}" required><br>
          <label for="role" ><b>Occupation</b></label><br>
          <input type="text" placeholder="Enter Occupation" name="role" ><br>





          <button type="submit"(click)="submit()">SignUp</button>
         <!-- <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>--> 
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn" (click)="cancel()">Cancel</button>
         
        </div>
      </form>
     
        <router-outlet ></router-outlet>
    </body>
  
  
