<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 
  
  <body style="background-color: beige">
    <form action="action_page.php">
      
    
      <div class="container">
        <label for="uname"><b>username</b></label><br>
        <input type="text"   placeholder="Enter Username" name="uname" required><br>
    
        <label for="psw"><b>Password</b></label><br>
        <input type="password"   placeholder="Enter Password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br>
    
        <button type="submit" (click)="SuccessLogin()">Login</button>
       <!--<label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>--> 
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" (click)="cancel()">Cancel</button>
        <span class="psw" (click)="forgetpass()" >Forget<u style=" color:blue;"> password?</u> </span>
      </div>
    </form>
    
      
  </body>

